<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <php>
        <env name="TEST_DB_HOST" value="127.0.0.1"/>
        <env name="TEST_DB_USER" value="twfyuser"/>
        <env name="TEST_DB_PASSWORD" value="twfypass"/>
        <env name="TEST_DB_NAME" value="twfy"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">www/includes</directory>
        </include>
    </source>
</phpunit>
